<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171816078-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-171816078-2');
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,600,700" rel="stylesheet">
    <!--link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/tailwind.min.css') }}"  media="screen,projection"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}"-->
    <link type="text/css" rel="stylesheet" href="/css/tailwind.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Anime Recommender</title>
  </head>
  <body>
    
    <div class="container mx-auto mt-20"  style = "background-color: white">     
        <header id="header" class="font-bold" style = "color: #F98600 ; background-color: #24253C ;">
            <h3>Chronic Coder Anime Recommendations</h3>
        </header>


        <form id="select-anime-from-list" class="py-10 px-5 mx-auto ">
            <label for="selected-title">Select an anime you loved watching for some similar recommendations!</label>
            <div class="mb-10 flex items-center">
                <input type="search" placeholder = "Search..." list="anime_names" class="bg-gray-100 rounded border shadow p-3 w-full"  
                id="selected-title"  onkeypress="filterFunction()" type="submission">
                <datalist id="anime_names"> </datalist> 

                <button 
                    id="submit" class="flex-shrink-0 p-3 rounded items-center  mx-3 uppercase font-bold items-center flex justify-center" 
                    style="background-color: #24253C; color: #F98600"
                    type="submit" >Recommend!
                    <i class="material-icons right text-white ml-3">send</i>
                </button>
            </div>
        </form> 

    </div>

    <!--Modal-->
    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center overflow-y-auto">
        <div class="modal-overlay fixed w-full h-full bg-gray-900 opacity-50"></div>
        
        <div class="modal-container bg-white w-7/12 mx-auto rounded shadow-lg z-50 overflow-y-auto">

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
            <!--Title-->
            <div class="flex justify-between items-center pb-3">
            <p id="modal-title" class="text-2xl font-bold">Simple Modal!</p>
            <div class="modal-close cursor-pointer z-50">
                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                </svg>
            </div>
            </div>

            <!--Body-->
            <p id="modal-score" >Score: </p>
            <p id="modal-type" >Type: </p>
            <p id="modal-release" >Release Date: </p>
            <p id="modal-link" >Read More: </p>
            <br>
            <p class="text-xl font-bold" id="modal-synopsis-title" >Synopsis: </p>
            <p id="modal-synopsis" > </p>

            <!--Footer-->
            <div class="flex justify-end pt-2">
            <button class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Close</button>
            </div>
            
        </div>
        </div>
    </div>
    
    <script src="/js/app.js"></script>
    <!--script src="{{ url_for('static', filename='js/app.js') }}"></script-->
    
  </body>
</html>
      